---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Academia de Pastoral Jvenenil RPK">
  <Header />
  <main>
	<h1>Academia de Pastoral Jvenenil RPK</h1>
  </main>
  <Footer />

</Layout>
