<footer>
  <div
    class="bg-primary text-white py-4 flex flex-col md:flex-row items-center justify-around gap-6 px-4"
  >
    <div class="flex flex-col text-center md:text-left">
      <p class="font-bold text-xl">Red Pastoral Juvenil</p>
      <p class="text-sm font-bold">
        Iniciativa del Instituto Calasanz de Ciencias de la Educación
      </p>
      <p class="text-sm">Calle Conde de Vilches, 4, 28028 Madrid</p>
      <p class="text-sm">
        <a
          href="mailto:redpj@rpj.es"
          class="font-bold text-white hover:text-secondary transition-colors duration-300"
        >
          redpj@rpj.es
        </a>
      </p>
    </div>
    <a href="https://rpj.es" target="_blank" class="hover:opacity-80 transition-opacity duration-300">
      <img
        src="/logo-2.webp"
        alt="Logotipo de Red Pastoral Juvenil - RPJ"
        class="h-32 md:h-44 w-auto"
      />
    </a>
  </div>
  <div
    class="bg-secondary text-white py-4 flex flex-col md:flex-row items-center justify-around gap-4 px-4"
  >
    <p class="text-sm text-center md:text-left">© RPJ 2025. Todos los derechos reservados.</p>
    <div class="grid grid-cols-2 md:flex md:flex-row items-center gap-x-4 gap-y-2 text-xs md:text-sm text-center">
      <a
        href="https://rpj.es/nota-legal/"
        target="_blank"
        class="hover:text-primary transition-colors duration-300">Nota legal</a
      >
      <a
        href="https://rpj.es/nota-legal/"
        target="_blank"
        class="hover:text-primary transition-colors duration-300"
        >Política de privacidad</a
      >
      <a
        href="https://rpj.es/politica-de-cookies/"
        target="_blank"
        class="hover:text-primary transition-colors duration-300"
        >Política de cookies</a
      >
      <a
        href="https://rpj.es/condiciones-de-venta/"
        target="_blank"
        class="hover:text-primary transition-colors duration-300"
        >Condiciones de venta</a
      >
    </div>
  </div>
</footer>
